<div class="card">
  <img src="{{ product_image | asset_url }}" alt="{{ product_title }}" width="400" height="300">
  <div class="card-content">
    <h3>{{ product_title }}</h3>
    <a href="{{ product_link }}" class="card-button">View Project</a>
  </div>
</div>
