<div class="card">
  {% if product_image %}
    <img src="{{ product_image | image_url: width: 600 }}" alt="{{ product_title }}" width="600" height="400">
  {% endif %}

  <div class="card-content">
    {% if product_title %}
      <h3>{{ product_title }}</h3>
    {% endif %}

    {% if product_link %}
      <a href="{{ product_link }}" class="card-button">View Project</a>
    {% endif %}
  </div>
</div>
