<section class="section main-portfolio">
  <div class="cards-grid">
    {% render 'card-product', product_title: 'Kulmont Rescue', product_image: 'kulmont-rescue.jpg', product_link: '/projects/kulmont' %}
    {% render 'card-product', product_title: 'Aurelia Branding', product_image: 'aurelia.jpg', product_link: '/projects/aurelia' %}
    {% render 'card-product', product_title: 'Vaseline Life-Hack', product_image: 'vaseline.jpg', product_link: '/projects/vaseline' %}
  </div>
</section>

