{% doc %}
  Renders a flexible group container for blocks.
  Supports horizontal and vertical layouts with alignment and padding.
{% enddoc %}

<div
  class="group {{ block.settings.layout_direction }}"
  style="
    --group-padding: {{ block.settings.padding }}px;
    --group-alignment: {{ block.settings.alignment }};
  "
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .group {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .group--horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--group-padding);
    padding-right: var(--group-padding);
  }

  .group--vertical {
    flex-direction: column;
    align-items: var(--group-alignment);
    padding-top: var(--group-padding);
    padding-bottom: var(--group-padding);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Group",
  "blocks": [
    { "type": "@theme" }
  ],
  "settings": [
    {
      "type": "select",
      "id": "layout_direction",
      "label": "Layout direction",
      "default": "group--vertical",
      "options": [
        { "value": "group--horizontal", "label": "Horizontal" },
        { "value": "group--vertical", "label": "Vertical" }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "default": "flex-start",
      "options": [
        { "value": "flex-start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Right" }
      ]
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Column group",
      "settings": {
        "layout_direction": "group--vertical",
        "alignment": "flex-start",
        "padding": 0
      }
    },
    {
      "name": "Row group",
      "settings": {
        "layout_direction": "group--horizontal",
        "padding": 0
      }
    }
  ]
}
{% endschema %}
